iEPB schema/Austria/EAWDATA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="EAWDATA">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FederalState" type = "xs:string" minOccurs = "0"/>
				<xs:element name="Page1_Footer_Text" type = "xs:string" minOccurs = "0"/>
				<xs:element name="EPC_Type" type = "xs:string" minOccurs = "0"/>
				<xs:element name="SubmissionFor" type = "xs:string" minOccurs = "0"/>
				<xs:element name="StateOfRealisation" type="xs:float"/>
				<xs:element name="StateOfRealisationName_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="EA_Type" type="xs:integer"/>
				<xs:element name="IsRenovationCertificate" type="xs:boolean"/>
				<xs:element name="Caption_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="Buildingpart_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="UserProfile_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="street_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="ZIP_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="City_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="GrundstuecksNummer_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="ConstructionYear_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="DateOfLastAlternation_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="CadastralMunicipalityName_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="CadastralMunicipalityNummer_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HeightAboveSeaLevel" type="xs:float"/>
				<xs:element name="GrossFloorArea" type="xs:float"/>
				<xs:element name="ReferenceFloorArea" type="xs:float"/>
				<xs:element name="GrossVolume" type="xs:float"/>
				<xs:element name="AreaOfTheBuildingEnvelope" type="xs:float"/>
				<xs:element name="Compactness_A_V" type="xs:float"/>
				<xs:element name="CharacteristicLength" type="xs:float"/>
				<xs:element name="Partial_BGF" type="xs:float"/>
				<xs:element name="Partial_BF" type="xs:float"/>
				<xs:element name="Partial_VB" type="xs:float"/>
				<xs:element name="ClimateRegionName_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HeatingDays" type="xs:float"/>
				<xs:element name="HeatingDegreeDays" type="xs:float"/>
				<xs:element name="OutsiedTemperature" type="xs:float"/>
				<xs:element name="TargetInternalTemperature" type="xs:float"/>
				<xs:element name="AverageUValue" type="xs:float"/>
				<xs:element name="MethodOfConstructionName_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="VentilationTypeName_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="SolarethermicArea" type="xs:float"/>
				<xs:element name="Photovoltaic_kWp" type="xs:float"/>
				<xs:element name="PVBatterySystemCapacity_2" type="xs:float"/>
				<xs:element name="WW_WB_primary" type = "xs:string" minOccurs = "0"/>
				<xs:element name="WW_WB_sekundary" type = "xs:string" minOccurs = "0"/>
				<xs:element name="RH_WB_primary" type = "xs:string" minOccurs = "0"/>
				<xs:element name="RH_WB_sekundary" type = "xs:string" minOccurs = "0"/>
				<xs:element name="CoolingGenerationSystem" type = "xs:string" minOccurs = "0"/>
				<xs:element name="LEK_T_Value" type="xs:float"/>
				<xs:element name="GWRZahl_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="IssueDate_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="ValidUntilDate_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="Issuer_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="BusinessCaseNumber_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="RequiermentsNeeded" type="xs:boolean"/>
				<xs:element name="LABEL_PICTURE"/>
				<xs:element name="IsOnlyForConsulitation" type="xs:boolean"/>
				<xs:element name="ProofBy" type = "xs:string" minOccurs = "0"/>
				<xs:element name="RenewableShare_Requirement_fulfilled" type="xs:boolean"/>
				<xs:element name="RenewableShare_Requierment_fulfilled_Comments" type="xs:boolean"/>
				<xs:element name="RenewableShare_Requierment_Reason" type = "xs:string" minOccurs = "0"/>
				<xs:element name="Class_HWBref" type = "xs:string" minOccurs = "0"/>
				<xs:element name="Class_fGEE" type = "xs:string" minOccurs = "0"/>
				<xs:element name="Class_PEB" type = "xs:string" minOccurs = "0"/>
				<xs:element name="Class_CO2" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HWB_ref_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HWB_ref_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HWB_ref_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HWB_ref_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HWB_ref_Ref_spez" type="xs:float"/>
				<xs:element name="HWB_ref_Ref_zone" type="xs:float"/>
				<xs:element name="HWB_ref_Actual_spez" type="xs:float"/>
				<xs:element name="HWB_ref_Actual_zone" type="xs:float"/>
				<xs:element name="HWB_ref_Requirement_numValue" type="xs:float"/>
				<xs:element name="HWB_refLabeled_numValue" type="xs:float"/>
				<xs:element name="HWB_ref_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HWB_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HWB_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HWB_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HWB_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HWB_Ref_spez" type="xs:float"/>
				<xs:element name="HWB_Ref_zone" type="xs:float"/>
				<xs:element name="HWB_Actual_spez" type="xs:float"/>
				<xs:element name="HWB_Actual_zone" type="xs:float"/>
				<xs:element name="HWB_Requierment_numValue" type="xs:float"/>
				<xs:element name="HWBLabeled_numValue" type="xs:float"/>
				<xs:element name="HWB_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="WWWB_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="WWWB_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="WWWB_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="WWWB_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="WWWB_Ref_spez" type="xs:float"/>
				<xs:element name="WWWB_Ref_zone" type="xs:float"/>
				<xs:element name="WWWB_Actual_spez" type="xs:float"/>
				<xs:element name="WWWB_Actual_zone" type="xs:float"/>
				<xs:element name="WWWB_Requierment_numValue" type="xs:float"/>
				<xs:element name="WWWBLabeled_numValue" type="xs:float"/>
				<xs:element name="WWWB_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="KBstern_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="KBstern_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="KBstern_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="KBstern_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="KBstern_Ref_spez" type="xs:float"/>
				<xs:element name="KBstern_Ref_zone" type="xs:float"/>
				<xs:element name="KBstern_Actual_spez" type="xs:float"/>
				<xs:element name="KBstern_Actual_zone" type="xs:float"/>
				<xs:element name="KBStern_Requirement_numValue" type="xs:float"/>
				<xs:element name="KBsternLabeled_numValue" type="xs:float"/>
				<xs:element name="KBstern_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="KB_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="KB_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="KB_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="KB_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="KB_Ref_spez" type="xs:float"/>
				<xs:element name="KB_Ref_zone" type="xs:float"/>
				<xs:element name="KB_Actual_spez" type="xs:float"/>
				<xs:element name="KB_Actual_zone" type="xs:float"/>
				<xs:element name="KB_Requierment_numValue" type="xs:float"/>
				<xs:element name="KBLabeled_numValue" type="xs:float"/>
				<xs:element name="KB_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="BefEB_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="BefEB_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="BefEB_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="BefEB_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="BefEB_Ref_spez" type="xs:float"/>
				<xs:element name="BefEB_Ref_zone" type="xs:float"/>
				<xs:element name="BefEB_Actual_spez" type="xs:float"/>
				<xs:element name="BefEB_Actual_zone" type="xs:float"/>
				<xs:element name="BefEB_Requierment_numValue" type="xs:float"/>
				<xs:element name="BefEBLabeled_numValue" type="xs:float"/>
				<xs:element name="BefEB_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HEB_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HEB_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HEB_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HEB_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HEB_Ref_spez" type="xs:float"/>
				<xs:element name="HEB_Ref_zone" type="xs:float"/>
				<xs:element name="HEB_Actual_spez" type="xs:float"/>
				<xs:element name="HEB_Actual_zone" type="xs:float"/>
				<xs:element name="HEB_Requirement_numValue" type="xs:float"/>
				<xs:element name="HEBLabeled_numValue" type="xs:float"/>
				<xs:element name="HEB_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="KEB_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="KEB_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="KEB_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="KEB_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="KEB_Ref_spez" type="xs:float"/>
				<xs:element name="KEB_Ref_zone" type="xs:float"/>
				<xs:element name="KEB_Actual_spez" type="xs:float"/>
				<xs:element name="KEB_Actual_zone" type="xs:float"/>
				<xs:element name="KEB_Requierment_numValue" type="xs:float"/>
				<xs:element name="KEBLabeled_numValue" type="xs:float"/>
				<xs:element name="KEB_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="BelEB_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="BelEB_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="BelEB_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="BelEB_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="BelEB_Ref_spez" type="xs:float"/>
				<xs:element name="BelEB_Ref_zone" type="xs:float"/>
				<xs:element name="BelEB_Actual_spez" type="xs:float"/>
				<xs:element name="BelEB_Actual_zone" type="xs:float"/>
				<xs:element name="BelEB_Requierment_numValue" type="xs:float"/>
				<xs:element name="BelEBLabeled_numValue" type="xs:float"/>
				<xs:element name="BelEB_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="BSB_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="BSB_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="BSB_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="BSB_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="BSB_Ref_spez" type="xs:float"/>
				<xs:element name="BSB_Ref_zone" type="xs:float"/>
				<xs:element name="BSB_Actual_spez" type="xs:float"/>
				<xs:element name="BSB_Actual_zone" type="xs:float"/>
				<xs:element name="BSB_Requierment_numValue" type="xs:float"/>
				<xs:element name="BSBLabeled_numValue" type="xs:float"/>
				<xs:element name="BSB_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HHSB_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HHSB_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HHSB_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HHSB_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HHSB_Ref_spez" type="xs:float"/>
				<xs:element name="HHSB_Ref_zone" type="xs:float"/>
				<xs:element name="HHSB_Actual_spez" type="xs:float"/>
				<xs:element name="HHSB_Actual_zone" type="xs:float"/>
				<xs:element name="HHSB_Requierment_numValue" type="xs:float"/>
				<xs:element name="HHSBLabeled_numValue" type="xs:float"/>
				<xs:element name="HHSB_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="EEB_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="EEB_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="EEB_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="EEB_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="EEB_Ref_spez" type="xs:float"/>
				<xs:element name="EEB_Ref_zone" type="xs:float"/>
				<xs:element name="EEB_Actual_spez" type="xs:float"/>
				<xs:element name="EEB_Actual_zone" type="xs:float"/>
				<xs:element name="EEB_Requirement_numValue" type="xs:float"/>
				<xs:element name="EEBLabeled_numValue" type="xs:float"/>
				<xs:element name="EEB_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PEB_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PEB_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PEB_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PEB_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PEB_Ref_spez" type="xs:float"/>
				<xs:element name="PEB_Ref_zone" type="xs:float"/>
				<xs:element name="PEB_Actual_spez" type="xs:float"/>
				<xs:element name="PEB_Actual_zone" type="xs:float"/>
				<xs:element name="PEB_Requirement_numValue" type="xs:float"/>
				<xs:element name="PEBLabeled_numValue" type="xs:float"/>
				<xs:element name="PEB_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PEBnern_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PEBnern_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PEBnern_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PEBnern_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PEBnern_Ref_spez" type="xs:float"/>
				<xs:element name="PEBnern_Ref_zone" type="xs:float"/>
				<xs:element name="PEBnern_Actual_spez" type="xs:float"/>
				<xs:element name="PEBnern_Actual_zone" type="xs:float"/>
				<xs:element name="PEBnern_Requierment_numValue" type="xs:float"/>
				<xs:element name="PEBnernLabeled_numValue" type="xs:float"/>
				<xs:element name="PEBnern_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PEBern_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PEBern_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PEBern_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PEBern_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PEBern_Ref_spez" type="xs:float"/>
				<xs:element name="PEBern_Ref_zone" type="xs:float"/>
				<xs:element name="PEBern_Actual_spez" type="xs:float"/>
				<xs:element name="PEBern_Actual_zone" type="xs:float"/>
				<xs:element name="PEBern_Requierment_numValue" type="xs:float"/>
				<xs:element name="PEBernLabeled_numValue" type="xs:float"/>
				<xs:element name="PEBern_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="CO2_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="CO2_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="CO2_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="CO2_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="CO2_Ref_spez" type="xs:float"/>
				<xs:element name="CO2_Ref_zone" type="xs:float"/>
				<xs:element name="CO2_Actual_spez" type="xs:float"/>
				<xs:element name="CO2_Actual_zone" type="xs:float"/>
				<xs:element name="CO2_Requirement_numValue" type="xs:float"/>
				<xs:element name="CO2Labeled_numValue" type="xs:float"/>
				<xs:element name="CO2_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="fGEE_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="fGEE_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="fGEE_Einheit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="fGEE_Einheit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="fGEE_Ref_spez" type="xs:float"/>
				<xs:element name="fGEE_Ref_zone" type="xs:float"/>
				<xs:element name="fGEE_Actual_spez" type="xs:float"/>
				<xs:element name="fGEE_Actual_zone" type="xs:float"/>
				<xs:element name="fGEE_Requirement_numValue" type="xs:float"/>
				<xs:element name="fGEELabeled_numValue" type="xs:float"/>
				<xs:element name="fGEE_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PVExport_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PVExport_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PVExport_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PVExport_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PVExport_Ref_spez" type="xs:float"/>
				<xs:element name="PVExport_Ref_zone" type="xs:float"/>
				<xs:element name="PVExport_Actual_spez" type="xs:float"/>
				<xs:element name="PVExport_Actual_zone" type="xs:float"/>
				<xs:element name="PVExport_Requierment_numValue" type="xs:float"/>
				<xs:element name="PVExportLabeled_numValue" type="xs:float"/>
				<xs:element name="PVExport_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="eAWZ_WW_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="eAWZ_WW_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="eAWZ_WW_Einheit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="eAWZ_WW_Einheit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="eAWZ_WW_Ref_spez" type="xs:float"/>
				<xs:element name="eAWZ_WW_Ref_zone" type="xs:float"/>
				<xs:element name="eAWZ_WW_Actual_spez" type="xs:float"/>
				<xs:element name="eAWZ_WW_Actual_zone" type="xs:float"/>
				<xs:element name="eAWZ_WW_Requierment_numValue" type="xs:float"/>
				<xs:element name="eAWZ_WWLabeled_numValue" type="xs:float"/>
				<xs:element name="eAWZ_WW_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="eAWZ_RH_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="eAWZ_RH_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="eAWZ_RH_Einheit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="eAWZ_RH_Einheit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="eAWZ_RH_Ref_spez" type="xs:float"/>
				<xs:element name="eAWZ_RH_Ref_zone" type="xs:float"/>
				<xs:element name="eAWZ_RH_Actual_spez" type="xs:float"/>
				<xs:element name="eAWZ_RH_Actual_zone" type="xs:float"/>
				<xs:element name="eAWZ_RH_Requierment_numValue" type="xs:float"/>
				<xs:element name="eAWZ_RHLabeled_numValue" type="xs:float"/>
				<xs:element name="eAWZ_RH_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="eAWZ_H_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="eAWZ_H_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="eAWZ_H_Einheit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="eAWZ_H_Einheit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="eAWZ_H_Ref_spez" type="xs:float"/>
				<xs:element name="eAWZ_H_Ref_zone" type="xs:float"/>
				<xs:element name="eAWZ_H_Actual_spez" type="xs:float"/>
				<xs:element name="eAWZ_H_Actual_zone" type="xs:float"/>
				<xs:element name="eAWZ_H_Requierment_numValue" type="xs:float"/>
				<xs:element name="eAWZ_HLabeled_numValue" type="xs:float"/>
				<xs:element name="eAWZ_H_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="eAWZ_K_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="eAWZ_K_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="eAWZ_K_Einheit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="eAWZ_K_Einheit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="eAWZ_K_Ref_spez" type="xs:float"/>
				<xs:element name="eAWZ_K_Ref_zone" type="xs:float"/>
				<xs:element name="eAWZ_K_Actual_spez" type="xs:float"/>
				<xs:element name="eAWZ_K_Actual_zone" type="xs:float"/>
				<xs:element name="eAWZ_K_Requierment_numValue" type="xs:float"/>
				<xs:element name="eAWZ_KLabeled_numValue" type="xs:float"/>
				<xs:element name="eAWZ_K_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HTEB_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HTEB_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HTEB_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HTEB_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HTEB_Ref_spez" type="xs:float"/>
				<xs:element name="HTEB_Ref_zone" type="xs:float"/>
				<xs:element name="HTEB_Actual_spez" type="xs:float"/>
				<xs:element name="HTEB_Actual_zone" type="xs:float"/>
				<xs:element name="HTEB_Requierment_numValue" type="xs:float"/>
				<xs:element name="HTEBLabeled_numValue" type="xs:float"/>
				<xs:element name="HTEB_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HTEB-RH_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HTEB-RH_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HTEB-RH_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HTEB-RH_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HTEB-RH_Ref_spez" type="xs:float"/>
				<xs:element name="HTEB-RH_Ref_zone" type="xs:float"/>
				<xs:element name="HTEB-RH_Actual_spez" type="xs:float"/>
				<xs:element name="HTEB-RH_Actual_zone" type="xs:float"/>
				<xs:element name="HTEB-RH_Requierment_numValue" type="xs:float"/>
				<xs:element name="HTEB-RHLabeled_numValue" type="xs:float"/>
				<xs:element name="HTEB-RH_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HTEB-WW_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HTEB-WW_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HTEB-WW_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HTEB-WW_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="HTEB-WW_Ref_spez" type="xs:float"/>
				<xs:element name="HTEB-WW_Ref_zone" type="xs:float"/>
				<xs:element name="HTEB-WW_Actual_spez" type="xs:float"/>
				<xs:element name="HTEB-WW_Actual_zone" type="xs:float"/>
				<xs:element name="HTEB-WW_Requierment_numValue" type="xs:float"/>
				<xs:element name="HTEB-WWLabeled_numValue" type="xs:float"/>
				<xs:element name="HTEB-WW_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="KTEB_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="KTEB_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="KTEB_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="KTEB_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="KTEB_Ref_spez" type="xs:float"/>
				<xs:element name="KTEB_Ref_zone" type="xs:float"/>
				<xs:element name="KTEB_Actual_spez" type="xs:float"/>
				<xs:element name="KTEB_Actual_zone" type="xs:float"/>
				<xs:element name="KTEB_Requierment_numValue" type="xs:float"/>
				<xs:element name="KTEBLabeled_numValue" type="xs:float"/>
				<xs:element name="KTEB_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="LEK_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="LEK_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="LEK_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="LEK_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="LEK_Ref_spez" type="xs:float"/>
				<xs:element name="LEK_Ref_zone" type="xs:float"/>
				<xs:element name="LEK_Actual_spez" type="xs:float"/>
				<xs:element name="LEK_Actual_zone" type="xs:float"/>
				<xs:element name="LEK_Requirement_numValue" type="xs:float"/>
				<xs:element name="LEKLabeled_numValue" type="xs:float"/>
				<xs:element name="LEK_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PEBbuero_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PEBbuero_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PEBbuero_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PEBbuero_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="PEBbuero_Ref_spez" type="xs:float"/>
				<xs:element name="PEBbuero_Ref_zone" type="xs:float"/>
				<xs:element name="PEBbuero_Actual_spez" type="xs:float"/>
				<xs:element name="PEBbuero_Actual_zone" type="xs:float"/>
				<xs:element name="PEBbuero_Requierment_numValue" type="xs:float"/>
				<xs:element name="PEBbueroLabeled_numValue" type="xs:float"/>
				<xs:element name="PEBbuero_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
				<xs:element name="CO2buero_NameShort" type = "xs:string" minOccurs = "0"/>
				<xs:element name="CO2buero_NameLong" type = "xs:string" minOccurs = "0"/>
				<xs:element name="CO2buero_Unit_spez" type = "xs:string" minOccurs = "0"/>
				<xs:element name="CO2buero_Unit_zone" type = "xs:string" minOccurs = "0"/>
				<xs:element name="CO2buero_Ref_spez" type="xs:float"/>
				<xs:element name="CO2buero_Ref_zone" type="xs:float"/>
				<xs:element name="CO2buero_Actual_spez" type="xs:float"/>
				<xs:element name="CO2buero_Actual_zone" type="xs:float"/>
				<xs:element name="CO2buero_Requierment_numValue" type="xs:float"/>
				<xs:element name="CO2bueroLabeled_numValue" type="xs:float"/>
				<xs:element name="CO2buero_Requierment_fulfilled_String" type = "xs:string" minOccurs = "0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
