CE3X xsd/CE3X_corregido.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="http://www.efinovatic.es/ce3x" xmlns="http://www.efinovatic.es/ce3x" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:simpleType name="dectype2digits"><xs:restriction base="xs:decimal"><xs:pattern value="[+-]?\d*(\.\d{1,2})?"/></xs:restriction></xs:simpleType>
	<xs:element name="iEPBxml">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Spain"/>
			</xs:sequence>
			<xs:attribute name="areaUnit" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SquareMeters"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="lengthUnit" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Meters"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="temperatureUnit" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="C"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="useSIUnitsForResults" use="required" type="xs:boolean"/>
			<xs:attribute name="version" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:decimal">
						<xs:enumeration value="2.3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="volumeUnit" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CubicMeters"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>





<xs:element name="A" type="dectype2digits"/>	
<xs:element name="B" type="dectype2digits"/>	
<xs:element name="C" type="dectype2digits"/>	
<xs:element name="D" type="dectype2digits"/>	
<xs:element name="E" type="dectype2digits"/>	
<xs:element name="F" type="dectype2digits"/>	
	
	
	
	
  <xs:element name="Absortance">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="colorType" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="blanco" />
                <xs:enumeration value="amarillo" />
				<xs:enumeration value="beige" />
				<xs:enumeration value="marron" />
				<xs:enumeration value="rojo" />
				<xs:enumeration value="verde" />
				<xs:enumeration value="azul" />
				<xs:enumeration value="gris" />
				<xs:enumeration value="negro" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>	

	
	
	<xs:element name="Acimut1">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0"/>
				<xs:enumeration value="45"/>
				<xs:enumeration value="90"/>
				<xs:enumeration value="135"/>
				<xs:enumeration value="180"/>
				<xs:enumeration value="225"/>
				<xs:enumeration value="270"/>
				<xs:enumeration value="270"/>
				<xs:enumeration value="315"/>				
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Acimut2">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0"/>
				<xs:enumeration value="45"/>
				<xs:enumeration value="90"/>
				<xs:enumeration value="135"/>
				<xs:enumeration value="180"/>
				<xs:enumeration value="225"/>
				<xs:enumeration value="270"/>
				<xs:enumeration value="270"/>
				<xs:enumeration value="315"/>		
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Acimut3">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0"/>
				<xs:enumeration value="45"/>
				<xs:enumeration value="90"/>
				<xs:enumeration value="135"/>
				<xs:enumeration value="180"/>
				<xs:enumeration value="225"/>
				<xs:enumeration value="270"/>
				<xs:enumeration value="270"/>
				<xs:enumeration value="315"/>		
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Acimut4">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="0"/>
				<xs:enumeration value="45"/>
				<xs:enumeration value="90"/>
				<xs:enumeration value="135"/>
				<xs:enumeration value="180"/>
				<xs:enumeration value="225"/>
				<xs:enumeration value="270"/>
				<xs:enumeration value="270"/>
				<xs:enumeration value="315"/>		
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Acs">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Activity">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Classrooms and Laboratories"/>
				<xs:enumeration value="General Administration"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Address">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="c/ Don Quijote de la Mancha 16. Zaragoza"/>
				<xs:enumeration value="c/ Elizmendi 28, 7ºA"/>
				<xs:enumeration value="c/Aduana s/n"/>
				<xs:enumeration value="x"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AdjacentSurfaceId">
		<xs:complexType>
			<xs:attribute name="surfaceIdRef" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="AdjacentWindowId">
		<xs:complexType>
			<xs:attribute name="windowIdRef" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="AgeOfHeatPump">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Anterior a 1994"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AirCavityType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Ligeramente ventilada"/>
				<xs:enumeration value="No ventilada"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AirChangesPerHou">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AirPrimaryEquipment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Zone"/>
				<xs:element ref="Name"/>
				<xs:element ref="Airflow"/>
				<xs:element ref="HasHeatRecoveryUnit"/>
				<xs:element ref="SeasonalPerformance"/>
			</xs:sequence>
			<xs:attribute name="equipmentType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Equipos de aire primario"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AirPrimaryEquipment_1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Airflow">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="AirflowResistance">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="AirtightnessTest">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="False"/>
				<xs:enumeration value="True"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ApplicableLegislation">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Anterior"/>
				<xs:enumeration value="NBE-CT-79"/>
				<xs:enumeration value="CTE-2013"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Area">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_Area">
					<xs:attribute name="unit" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="SquareMeters"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="AwningFabric">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="AwningTilt">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="AwningType">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="Blind">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="OverhangDepth"/>
				<xs:element ref="OverhangHeight"/>
				<xs:element ref="BlindTilt"/>
				<xs:element ref="BlindAzimuth"/>
				<xs:element ref="BlindTransmittance"/>
				<xs:element ref="BlindReflectance"/>
				<xs:element ref="AwningType"/>
				<xs:element ref="AwningTilt"/>
				<xs:element ref="AwningFabric"/>
				<xs:element ref="SkylightWidth"/>
				<xs:element ref="SkylightLength"/>
				<xs:element ref="SkylightDepth"/>
			</xs:sequence>
			<xs:attribute name="calculationType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DA1Table12Overhang"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="BlindAzimuth">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="BlindReflectance">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="BlindTilt">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="BlindTransmittance">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="BloowerDoorTestN">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="BloowerDoorTestQ50">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="BoilerInsulationLevel">
		<xs:complexType>
			<xs:attribute name="unit" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SquareM"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Building">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CadastralReference"/>
				<xs:element ref="City"/>
				<xs:element ref="State"/>
				<xs:element ref="ApplicableLegislation"/>
				<xs:element ref="ConstructionYear"/>
				<xs:element ref="Tipology"/>
				<xs:element ref="UsageProfile"/>
				<xs:element ref="HE1ClimaticZone"/>
				<xs:element ref="HE4ClimaticZone"/>
				<xs:element ref="NominalFloorToCeilingHeight"/>
				<xs:element ref="NumberOfStories"/>
				<xs:element ref="AirChangesPerHou"/>
				<xs:element ref="DHWDailyDemand"/>
				<xs:element ref="InternalPartitionMass"/>
				<xs:element ref="LocationImage"/>
				<xs:element ref="BuildingImage"/>
				<xs:element ref="AirtightnessTest"/>
				<xs:element ref="BloowerDoorTestQ50"/>
				<xs:element ref="BloowerDoorTestN"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Building1"/>
						<xs:enumeration value="Building3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="BuildingImage">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="AwB+zQQJy31CwQAAAABJRU5ErkJggg=="/>
				<xs:enumeration value="fotoEdificioCex.png"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CEX">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CustomerData"/>
				<xs:element ref="WindowType"/>
				<xs:element ref="Opening"/>
				<xs:element ref="Frame"/>
				<xs:element ref="WindowType"/>
				<xs:element ref="Opening"/>
				<xs:element ref="Frame"/>
				<xs:element ref="Blind"/>
				<xs:element ref="ThermalBridge" maxOccurs="unbounded"/>
				<xs:element ref="ShadowPattern" maxOccurs="unbounded"/>
				<xs:element ref="HydronicLoopEquipment" maxOccurs="unbounded"/>
				<xs:element ref="ThermalBridge" maxOccurs="unbounded"/>
				<xs:element ref="LightingSystem"/>
				<xs:element ref="AirPrimaryEquipment"/>
				<xs:element ref="VentilationFan" maxOccurs="unbounded"/>
				<xs:element ref="Pump" maxOccurs="unbounded"/>						
				<xs:element ref="Construction" maxOccurs="unbounded"/>
				<xs:element ref="Material" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="order" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="CadastralReference">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Cal">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Calificacion">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Demanda"/>
				<xs:element ref="EnergiaPrimariaNoRenovable"/>
				<xs:element ref="Emisiones"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Cif">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="City">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CoberturaConsumoFinalAcs">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="CoberturaConsumoFinalCal">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="CoberturaDemandaAcs">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="CombustionEfficiency">
		<xs:complexType>
			<xs:attribute name="units" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Percent"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="CombustionEficiency">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CombustionLoadFactor">
	</xs:element>
	<xs:element name="Construction">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="ConstructionType"/>
					<xs:element ref="WallComposition"/>
					<xs:sequence minOccurs="0">
						<xs:choice>
							<xs:sequence>
								<xs:element ref="SlabType"/>
								<xs:element ref="AirCavityType"/>
								<xs:element ref="InsulationIsPresent"/>
							</xs:sequence>
							<xs:sequence>
								<xs:element ref="AirCavityType"/>
								<xs:element ref="InsulationIsPresent"/>
								<xs:element ref="InsulationPosition"/>
							</xs:sequence>
						</xs:choice>
						<xs:element ref="InsulationType"/>
						<xs:element ref="Thickness"/>
						<xs:element ref="R-value"/>
					</xs:sequence>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="Perimeter"/>
					<xs:element ref="InsulationIsPresent"/>
					<xs:element ref="InsulationLocation"/>
					<xs:element ref="HowDefineInsulationResistance"/>
					<xs:element ref="Thickness"/>
					<xs:element ref="R-value"/>
				</xs:sequence>
				<xs:element ref="NonHabitableSpaceType"/>
				<xs:element ref="Mass"/>
			</xs:choice>
			<xs:attribute name="calculationType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CerramientoConocido"/>
						<xs:enumeration value="CubiertaExteriorEstimada"/>
						<xs:enumeration value="FachadaExteriorEstimada"/>
						<xs:enumeration value="ParticionInteriorHorizontalConNHInferiorConocida"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="caculationType">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CubiertaExteriorDefecto"/>
						<xs:enumeration value="SueloConTerrenoEstimado"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConstructionType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Cubierta"/>
				<xs:enumeration value="Cubierta inclinada"/>
				<xs:enumeration value="Cubierta plana"/>
				<xs:enumeration value="Doble hoja con cámara"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ConstructionYear">
		<xs:simpleType>
			<xs:restriction base="xs:short">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Consumo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Cal"/>
				<xs:element ref="Ref"/>
				<xs:element ref="Acs"/>
				<xs:element ref="ilu"/>
				<xs:element ref="Ven"/>
				<xs:element ref="Tot"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ConsumoElectrico">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ConsumoOtros">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Consumption">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_Consumption">
					<xs:attribute name="unit" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="kilowatt-hour"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CoolingCoverage">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_CoolingCoverage">
					<xs:attribute name="unit" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="SquareM"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="CustomerData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="Address"/>
				<xs:element ref="State"/>
				<xs:element ref="City"/>
				<xs:element ref="ZipcodeOrPostalCode"/>
				<xs:element ref="PhoneNumber"/>
				<xs:element ref="e-mail"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="DHWCoverage">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_DHWCoverage">
					<xs:attribute name="unit" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="SquareM"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DHWDailyDemand">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DHWTankPresent">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="False"/>
				<xs:enumeration value="True"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DHWUA">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Demanda">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Cal"/>
				<xs:element ref="Ref"/>
				<xs:element ref="Acs" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DesgloseEmisiones">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ConsumoElectrico"/>
				<xs:element ref="ConsumoOtros"/>
				<xs:element ref="TotalConsumoElectrico"/>
				<xs:element ref="TotalConsumoOtros"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DifussionResistanceFactor">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DynamicStiffness">
		<xs:complexType>
		</xs:complexType>
	</xs:element>

	<xs:element name="EPC">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ProgramType"/>
				<xs:element ref="PersonInfo"/>
				<xs:element ref="CEX"/>
				<xs:element ref="Resultados"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ElasticMaterial">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="Electrica">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="Elevacion1">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="34"/>
				<xs:enumeration value="42"/>
				<xs:enumeration value="80"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Elevacion2">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Elevacion3">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Elevacion4">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Emisiones">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="Cal"/>
					<xs:element ref="Ref"/>
					<xs:element ref="Acs"/>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="Ilu"/>
							<xs:element ref="Tot"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="ilu"/>
							<xs:element ref="Ven"/>
							<xs:element ref="Tot" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:choice>
				</xs:sequence>
				<xs:element ref="Tot"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="EnergiaFinal">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Cal"/>
				<xs:element ref="Ref"/>
				<xs:element ref="Acs"/>
				<xs:element ref="ilu"/>
				<xs:element ref="Ven"/>
				<xs:element ref="Tot"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EnergiaFinalVectores">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Vector"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EnergiaGenerada">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="EnergiaPrimariaNoRenovable">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="Cal"/>
					<xs:element ref="Ref"/>
					<xs:element ref="Acs"/>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="ilu"/>
							<xs:element ref="Ven"/>
						</xs:sequence>
						<xs:element ref="Ilu"/>
					</xs:choice>
					<xs:element ref="Tot"/>
				</xs:sequence>
				<xs:element ref="Tot"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="EnergiasRenovables">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Termica"/>
				<xs:element ref="Electrica"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Escalas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Demanda"/>
				<xs:element ref="EnergiaPrimariaNoRenovable"/>
				<xs:element ref="Emisiones"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="FractionPowerInput">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FractionPowerNoDemand">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="FractionPowerSupplied">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Frame">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="U-value"/>
				<xs:element ref="Absortance"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="FrameRate">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_FrameRate">
					<xs:attribute name="unit" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Percent"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="FrameType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Metálico con RPT"/>
				<xs:enumeration value="Metálico sin RPT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GeneratorType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Bomba de Calor"/>
				<xs:enumeration value="Caldera Baja Temperatura"/>
				<xs:enumeration value="Caldera Condensación"/>
				<xs:enumeration value="Caldera Estándar"/>
				<xs:enumeration value="Efecto Joule"/>
				<xs:enumeration value="Maquina frigorífica"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GlazeType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Doble"/>
				<xs:enumeration value="Simple"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Group">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Cerámicos"/>
				<xs:enumeration value="Cámaras de aire"/>
				<xs:enumeration value="Forjados unidireccionales"/>
				<xs:enumeration value="Fábricas de ladrillo"/>
				<xs:enumeration value="Morteros"/>
				<xs:enumeration value="Yesos"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HE1ClimaticZone">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="alpha1"/>
				<xs:enumeration value="alpha2"/>
				<xs:enumeration value="alpha3"/>
				<xs:enumeration value="alpha4"/>
				<xs:enumeration value="A1"/>
				<xs:enumeration value="A2"/>
				<xs:enumeration value="A3"/>
				<xs:enumeration value="A4"/>
				<xs:enumeration value="B1"/>
				<xs:enumeration value="B2"/>
				<xs:enumeration value="B3"/>
				<xs:enumeration value="B4"/>
				<xs:enumeration value="C1"/>
				<xs:enumeration value="C2"/>
				<xs:enumeration value="C3"/>
				<xs:enumeration value="C4"/>				
				<xs:enumeration value="D1"/>
				<xs:enumeration value="D2"/>
				<xs:enumeration value="D3"/>
				<xs:enumeration value="E1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HE4ClimaticZone">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="I"/>
				<xs:enumeration value="II"/>
				<xs:enumeration value="III"/>
				<xs:enumeration value="IV"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HasHeatRecoveryUnit">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="False"/>
				<xs:enumeration value="True"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HeatPumpType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Aire-Agua"/>
				<xs:enumeration value="Aire-Aire"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="HeatingCoverage">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_HeatingCoverage">
					<xs:attribute name="unit" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="SquareM"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="HighTemperature">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_HighTemperature">
					<xs:attribute name="unit" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="C"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="HorizontalAverageIlluminance">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_HorizontalAverageIlluminance">
					<xs:attribute name="unit" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="lux"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="HowDefineInsulationResistance">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="HydronicLoopEquipment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Zone"/>
				<xs:element ref="HeatingCoverage"/>
				<xs:choice>
					<xs:sequence>
						<xs:element ref="DHWCoverage"/>
						<xs:element ref="GeneratorType"/>
						<xs:choice>
							<xs:sequence>
								<xs:element ref="CombustionLoadFactor"/>
								<xs:element ref="CombustionEficiency"/>
								<xs:element ref="InsulationBoiler"/>
							</xs:sequence>
							<xs:element ref="NominalEfficiency"/>
						</xs:choice>
						<xs:element ref="DHWTankPresent"/>
						<xs:element ref="DHWUA"/>
						<xs:element ref="Multiplier"/>
						<xs:element ref="UACalculationType"/>
						<xs:element ref="HighTemperature"/>
						<xs:element ref="LowerTemperature"/>
						<xs:element ref="TankVolume"/>
						<xs:element ref="InsulationType"/>
						<xs:element ref="Thickness"/>
					</xs:sequence>
					<xs:sequence>
						<xs:element ref="CoolingCoverage"/>
						<xs:element ref="DHWCoverage"/>
						<xs:element ref="GeneratorType"/>
						<xs:choice>
							<xs:sequence>
								<xs:element ref="AgeOfHeatPump"/>
								<xs:element ref="MultipleGeneratorsExistElement"/>
								<xs:element ref="FractionPowerSupplied"/>
								<xs:element ref="FractionPowerInput"/>
								<xs:element ref="NominalEfficiencyCal"/>
								<xs:element ref="CombustionLoadFactor"/>
								<xs:element ref="CombustionEfficiency"/>
								<xs:element ref="BoilerInsulationLevel"/>
								<xs:element ref="DHWTankPresent"/>
								<xs:element ref="Multiplier"/>
								<xs:element ref="UACalculationType"/>
								<xs:element ref="HighTemperature"/>
								<xs:element ref="LowerTemperature"/>
								<xs:element ref="TankVolume"/>
								<xs:element ref="InsulationType"/>
								<xs:element ref="Thickness"/>
							</xs:sequence>
							<xs:sequence>
								<xs:element ref="refrigerationMachineAntiquity"/>
								<xs:element ref="HeatPumpType"/>
								<xs:element ref="MultipleGeneratorsExistElement"/>
								<xs:sequence minOccurs="0">
									<xs:element ref="FractionPowerSupplied"/>
									<xs:element ref="FractionPowerInput"/>
								</xs:sequence>
								<xs:element ref="NominalEfficiencyRef"/>
								<xs:element ref="CombustionLoadFactor"/>
								<xs:element ref="CombustionEfficiency"/>
								<xs:element ref="BoilerInsulationLevel"/>
								<xs:element ref="DHWTankPresent"/>
								<xs:element ref="Multiplier"/>
								<xs:element ref="UACalculationType"/>
								<xs:element ref="HighTemperature"/>
								<xs:element ref="LowerTemperature"/>
								<xs:element ref="TankVolume"/>
								<xs:element ref="InsulationType"/>
								<xs:element ref="Thickness"/>
							</xs:sequence>
						</xs:choice>
					</xs:sequence>
					<xs:element ref="GeneratorType"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="calculationType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Conocido (Ensayado/justificado)"/>
						<xs:enumeration value="Estimado según Instalación"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="equipmentType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Equipo ACS"/>
						<xs:enumeration value="Equipo mixto de calefacción y ACS"/>
						<xs:enumeration value="Equipo sólo calefacción"/>
						<xs:enumeration value="Equipo sólo refrigeración"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ApproximatedBoilerEquipment_1"/>
						<xs:enumeration value="ApproximatedBoilerEquipment_2"/>
						<xs:enumeration value="HydronicLoopEquiment_1"/>
						<xs:enumeration value="HydronicLoopEquiment_2"/>
						<xs:enumeration value="HydronicLoopEquiment_3"/>
						<xs:enumeration value="HydronicLoopEquiment_4"/>
						<xs:enumeration value="JouleDHWEquiment_1"/>
						<xs:enumeration value="JouleDHWEquiment_2"/>
						<xs:enumeration value="KnownBoilerEquipment_1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Id">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="Ilu">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Image">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="arcilla.bmp"/>
				<xs:enumeration value="camara.bmp"/>
				<xs:enumeration value="ladrillo.bmp"/>
				<xs:enumeration value="mortero.bmp"/>
				<xs:enumeration value="yeso.bmp"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Indicadores">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Demanda"/>
				<xs:element ref="EnergiaFinal"/>
				<xs:element ref="EnergiaPrimariaNoRenovable"/>
				<xs:element ref="Emisiones"/>
				<xs:element ref="EnergiaFinalVectores"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IndicadoresReferencia">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Demanda"/>
				<xs:element ref="EnergiaFinal"/>
				<xs:element ref="EnergiaPrimariaNoRenovable"/>
				<xs:element ref="Emisiones"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InsulationBoiler">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Antigua con mal aislamiento"/>
				<xs:enumeration value="Bien aislada y mantenida"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InsulationIsPresent">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="False"/>
				<xs:enumeration value="True"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InsulationLocation">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="InsulationPosition">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Por el exterior"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InsulationType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="MW"/>
				<xs:enumeration value="Poliuretano Rígido"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="InternalPartitionMass">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Media"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Length">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_Length">
					<xs:attribute name="unit" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Meters"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="LightingCoverage">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
				<xs:enumeration value="2489.779"/>
				<xs:enumeration value="2600"/>
				<xs:enumeration value="462.56"/>
				<xs:enumeration value="705.6"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LightingSystem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Zone"/>
				<xs:element ref="LightingCoverage"/>
				<xs:element ref="RepresentationZone"/>
				<xs:element ref="Activity"/>
				<xs:element ref="HorizontalAverageIlluminance"/>
			</xs:sequence>
			<xs:attribute name="calculationType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Conocido(ensayado/justificado)"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="equipmentType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Equipos de iluminación"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="LightingSystem_1"/>
						<xs:enumeration value="LightingSystem_2"/>
						<xs:enumeration value="LightingSystem_3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="LocationImage">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="8DAAZLVmX4rPc8AAAAAElFTkSuQmCC"/>
				<xs:enumeration value="fotoPlanoCex.png"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LowerTemperature">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_LowerTemperature">
					<xs:attribute name="unit" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="C"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Mass">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_Mass">
					<xs:attribute name="unit" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="KgPerSquareMeter"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Material">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DifussionResistanceFactor"/>
				<xs:element ref="Group"/>
				<xs:element ref="Image"/>
				<xs:element ref="ElasticMaterial"/>
				<xs:element ref="DynamicStiffness"/>
				<xs:element ref="AirflowResistance"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="MultipleGeneratorsExistElement">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="False"/>
				<xs:enumeration value="True"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Multiplier">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Name" type="xs:string"/>
	<xs:element name="Nif">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-"/>
				<xs:enumeration value="x"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Nombre">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="NominalEfficiency">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_NominalEfficiency">
					<xs:attribute name="units" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Percent"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="NominalEfficiencyCal">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_NominalEfficiencyCal">
					<xs:attribute name="units" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Percent"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="NominalEfficiencyRef">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_NominalEfficiencyRef">
					<xs:attribute name="units" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Percent"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="NominalFloorToCeilingHeight">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="NonHabitableSpaceType">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_NonHabitableSpaceType">
					<xs:attribute name="unit" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="SquareMeters"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="NumberOfHoursDemand">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_NumberOfHoursDemand">
					<xs:attribute name="unit" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="hours"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="NumberOfHoursWithDemand">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_NumberOfHoursWithDemand">
					<xs:attribute name="unit" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="hours"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="NumberOfStories">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Opening">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Multiplier"/>
				<xs:element ref="Area"/>
				<xs:element ref="FrameRate"/>
				<xs:element ref="WindowAirPermeabilityDefinition"/>
				<xs:element ref="WindowAirPermeability"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="OverhangDepth">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OverhangHeight">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Perimeter">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_Perimeter">
					<xs:attribute name="unit" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Meters"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="PersonInfo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Cif"/>
				<xs:element ref="Nif"/>
				<xs:element ref="QualifyingDegree"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PhoneNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PotenciaInstalada">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="Power">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_Power">
					<xs:attribute name="unit" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="kilowatt"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProgramType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Gran Terciario"/>
				<xs:enumeration value="Pequeño Terciario"/>
				<xs:enumeration value="Residencial"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Psi">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_Psi">
					<xs:attribute name="unit" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="WPerMeterK"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Pump">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Zone"/>
				<xs:element ref="Name"/>
				<xs:element ref="TypeOfPump"/>
				<xs:element ref="Service"/>
				<xs:element ref="Consumption"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="Power"/>
					<xs:element ref="NumberOfHoursWithDemand"/>
					<xs:element ref="WorksWhenNoDemand"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="NumberOfHoursDemand"/>
						<xs:element ref="FractionPowerNoDemand"/>
					</xs:sequence>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="calculationType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Conocido (Ensayado/justificado)"/>
						<xs:enumeration value="Estimado"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="equipmentType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Equipos de bombeo"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="QualifyingDegree">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="-"/>
				<xs:enumeration value="x"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="R-value">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_R-value">
					<xs:attribute name="unit" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="SquareMeterKPerW"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Ref">
		<xs:simpleType>
			<xs:restriction base="xs:decimal"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RepresentationZone">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="False"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Resultados">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Indicadores"/>
				<xs:element ref="IndicadoresReferencia"/>
				<xs:element ref="Tablas"/>
				<xs:element ref="Escalas"/>
				<xs:element ref="Calificacion"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SRI">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="SeasonalPerformance">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="Service">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Calefacción"/>
				<xs:enumeration value="Refrigeración"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ShadowPattern">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="AdjacentSurfaceId" minOccurs="0"/>
				<xs:element ref="AdjacentWindowId" maxOccurs="unbounded"/>
				<xs:element ref="ShadowPolygon" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ShadowPattern1"/>
						<xs:enumeration value="ShadowPattern2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShadowPolygon">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Acimut1"/>
				<xs:element ref="Elevacion1"/>
				<xs:element ref="Acimut2"/>
				<xs:element ref="Elevacion2"/>
				<xs:element ref="Acimut3"/>
				<xs:element ref="Elevacion3"/>
				<xs:element ref="Acimut4"/>
				<xs:element ref="Elevacion4"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Sistema">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Id"/>
				<xs:element ref="Nombre"/>
				<xs:element ref="Tipo"/>
				<xs:element ref="PotenciaInstalada"/>
				<xs:element ref="EnergiaGenerada"/>
				<xs:element ref="CoberturaConsumoFinalCal"/>
				<xs:element ref="CoberturaConsumoFinalAcs"/>
				<xs:element ref="CoberturaDemandaAcs"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SkylightDepth">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="SkylightLength">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="SkylightWidth">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="SlabType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Unidireccional"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Spain">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Building"/>
				<xs:element ref="SRI"/>
				<xs:element ref="EPC"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="State">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Navarra"/>
				<xs:enumeration value="Zaragoza"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Tablas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EnergiasRenovables"/>
				<xs:element ref="DesgloseEmisiones"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TankVolume">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_TankVolume">
					<xs:attribute name="unit" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="CubicMeters"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Termica">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Sistema" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ThermalBridge">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Name"/>
				<xs:element ref="AdjacentSurfaceId"/>
				<xs:element ref="Psi"/>
				<xs:element ref="Length"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Caja de Persiana"/>
						<xs:enumeration value="Contorno de hueco"/>
						<xs:enumeration value="Encuentro de fachada con cubierta"/>
						<xs:enumeration value="Encuentro de fachada con forjado"/>
						<xs:enumeration value="Encuentro de fachada con solera"/>
						<xs:enumeration value="Pilar en Esquina"/>
						<xs:enumeration value="Pilar integrado en fachada"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Thickness">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_Thickness">
					<xs:attribute name="unit">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="Meters"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="Tipo">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="Tipology">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Bloque de Viviendas"/>
				<xs:enumeration value="Edificio completo"/>
				<xs:enumeration value="Vivienda Individual"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Tot">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TotalConsumoElectrico">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TotalConsumoOtros">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TypeOfFan">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Ventilador de caudal constante"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="TypeOfPump">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Bomba de caudal constante"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="U-value">
		<xs:complexType>
			<xs:attribute name="unit">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="WPerSquareMeterK"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>	
	
	
	<xs:element name="UACalculationType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="Estimada"/>
				<xs:enumeration value="Por defecto"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UsageProfile">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="Intensidad Baja - 8h"/>
				<xs:enumeration value="Intensidad Baja - 12h"/>
				<xs:enumeration value="Intensidad Baja - 16h"/>
				<xs:enumeration value="Intensidad Baja - 24h"/>				
				<xs:enumeration value="Intensidad Media - 8h"/>
				<xs:enumeration value="Intensidad Media - 12h"/>
				<xs:enumeration value="Intensidad Media - 16h"/>
				<xs:enumeration value="Intensidad Media - 24h"/>
				<xs:enumeration value="Intensidad Alta - 8h"/>
				<xs:enumeration value="Intensidad Alta - 12h"/>
				<xs:enumeration value="Intensidad Alta - 16h"/>
				<xs:enumeration value="Intensidad Alta - 24h"/>						
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Vector">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Nombre"/>
				<xs:element ref="Consumo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Ven">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="VentilationFan">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Zone"/>
				<xs:element ref="Name"/>
				<xs:element ref="TypeOfFan"/>
				<xs:element ref="Service"/>
				<xs:element ref="Consumption"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="Power"/>
					<xs:element ref="NumberOfHoursWithDemand"/>
					<xs:element ref="WorksWhenNoDemand"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="calculationType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Conocido (Ensayado/justificado)"/>
						<xs:enumeration value="Estimado"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="equipmentType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Ventiladores"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="VentilationFan_1"/>
						<xs:enumeration value="VentilationFan_2"/>
						<xs:enumeration value="VentilationFan_3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="WallComposition">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value=""/>
				<xs:enumeration value="1/2 pie de fábrica de ladrillo"/>
				<xs:enumeration value="cubierta2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="WindowAirPermeability">
		<xs:simpleType>
			<xs:restriction base="xs:decimal">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="WindowAirPermeabilityDefinition">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Valor estimado"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="WindowType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GlazeType" minOccurs="0"/>
				<xs:element ref="FrameType"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="WorksWhenNoDemand">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="False"/>
				<xs:enumeration value="True"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ZipcodeOrPostalCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Zone">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="e-mail">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ilu">
		<xs:simpleType>
			<xs:restriction base="xs:string">
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="refrigerationMachineAntiquity">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="Anterior a 1994"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="ST_Area">
		<xs:restriction base="xs:decimal">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Consumption">
		<xs:restriction base="xs:decimal">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_CoolingCoverage">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_DHWCoverage">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_FrameRate">
		<xs:restriction base="xs:decimal">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_HeatingCoverage">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_HighTemperature">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_HorizontalAverageIlluminance">
		<xs:restriction base="xs:decimal">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Length">
		<xs:restriction base="xs:decimal">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_LowerTemperature">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Mass">
		<xs:restriction base="xs:decimal">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_NominalEfficiency">
		<xs:restriction base="xs:decimal">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_NominalEfficiencyCal">
		<xs:restriction base="xs:decimal">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_NominalEfficiencyRef">
		<xs:restriction base="xs:decimal">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_NonHabitableSpaceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Cámara Sanitaria"/>
			<xs:enumeration value="Espacio bajo cubierta inclinada"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_NumberOfHoursDemand">
		<xs:restriction base="xs:decimal">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_NumberOfHoursWithDemand">
		<xs:restriction base="xs:decimal">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Perimeter">
		<xs:restriction base="xs:decimal">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Power">
		<xs:restriction base="xs:decimal">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Psi">
		<xs:restriction base="xs:decimal">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_R-value">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_TankVolume">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Thickness">
		<xs:restriction base="xs:string">
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
